.project-card {
    display: flex;
    /* Use flexbox for layout */
    align-items: center;
    /* Align items vertically in the center */
    height: 500px;
    width: 500px;
    border: 2px solid #ddd;
    border-radius: 25px;
    overflow: hidden;
    background-color: #fff;
    transition: 0.3s ease-in-out;
}

.project-card:hover {
    height: 550px;
    width: 550px;
}

.project-text {
    flex: 1;
    /* Take up the remaining space */
    padding: 20px;
    /* Add some padding around the text */
    text-align: center;
}

.project-image {
    width: 50%;
    /* Adjust width as necessary */
    height: auto;
    /* Maintain aspect ratio */
    object-fit: cover;
    /* Cover the area without stretching */
}

/* Style for the title and description */
h3 {
    margin-top: 0;
    /* Remove default top margin */
}

p {
    margin-bottom: 0;
    /* Remove default bottom margin */
}

.video-container {
    margin-top: 20px;
    /* Add some space above the video */
    margin-bottom: 20px;
    /* Add some space below the video */
    width: 100%;
    /* Ensure the video takes up the full width of the container */
    aspect-ratio: 16 / 9;
    /* Maintain aspect ratio of the video */
    overflow: hidden;
    /* Ensures the video fits well within the card */
}

.video-container iframe {
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
}

.project-github-link {
    margin-top: 10px;
    text-align: center;
}

.project-github-link a {
    color: #007bff;
    /* GitHub link color */
    text-decoration: none;
    /* No underline */
    text-align: center;
    transition: color 0.3s ease;
    /* Smooth color transition */
}

.project-github-link a:hover {
    color: #0056b3;
    /* Darken color on hover */
}