body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Use viewport height to ensure full height */
}

.content {
  flex: 1;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

/* Navigation Bar Styles */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* Adjust padding to make the nav bar slimmer */
  background-color: #ffffff;
}

.title-and-icons {
  display: flex;
  align-items: center;
  /* Ensure there's enough space for the margin to take effect */
  /* No overflow or fixed width that might restrict the margin */
}


.title-and-icons h1 {
  margin-right: 20px;
  /* Adjust the space as needed */
  /* Other styles */
}

.nav-bar h1 {
  margin: 0;
  font-size: 1.5em;
  /* Adjust the size as needed */
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  padding: 0 15px;
  /* Spacing between links */
}

.nav-links li a {
  text-decoration: none;
  font-weight: bold;
  /* Make the text bold */
  color: #333;
  /* Or any color that suits your design */
  padding: 10px;
  /* Adjust the padding as needed */
  border-radius: 5px;
  /* Rounded corners for the highlight */
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #000;
  /* Or any color for hover state */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
}

.nav-links li:last-child a {
  background-color: #333;
  /* Color for the last item */
  color: white;
  font-weight: bold;
  /* Make the text bold */
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-links li:last-child a:hover {
  background-color: #00a6ff;
}

/* Social Links in Header */

.social-links {
  display: flex;
  align-items: center;
  margin-left: 20px;
  /* Add some space between the icons and the title */
}

.social-links a {
  color: #333;
  /* Match with your nav link color */
  margin: 0 10px;
  /* Adjust the space between icons */
  transition: color 0.3s ease;
}

.social-links a i {
  font-size: 1.5em;
  /* Adjust the size as needed */
}

.social-links a:hover {
  color: #00a6ff;
  /* Color for icon hover state */
}

/* Responsive styles if needed */
@media (max-width: 768px) {
  .nav-bar h1 {
    font-size: 1.2em;
  }

  .nav-links li {
    padding: 0 10px;
  }

  .social-links {
    display: none;
    /* Optionally hide icons on smaller screens */
  }
}

/* Footer Styles */
.footer {
  padding: 10px 20px;
  /* Adjust padding to your preference */
  background-color: #000000;
  /* Dark background for the footer */
  color: white;
  /* Light text color for contrast */
  text-align: center;
  /* Center the text */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer p {
  margin: 0;
  /* Remove default margin */
  padding: 0;
  font-size: 0.8em;
  /* Smaller font size for the footer text */
}

@media (max-width: 768px) {
  .footer p {
    font-size: 0.8em;
  }
}

/* Home.css */
.home-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* Align children to the bottom */
  min-height: 100vh;
  /* Minimum height to take up the full viewport height */
  padding: 0px;
  background-color: #f0f0f0;
  /* Or any background color you prefer */
}

.image-container {
  flex: 2;
  /* Take up half the space */
  height: 100vh;
  /* Full height of the viewport */
}

.profile-photo {
  width: 100%;
  /* Take up all available width */
  height: 100%;
  /* Take up all available height */
  object-fit: cover;
  /* Cover the space without stretching */
}

.text-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
  /* Updated from 'start' to 'flex-start' */
  padding-right: 20px;
  /* Add some spacing between the text and the image */
  padding: 3%;
}


.intro-text {
  /* Positioning for the text itself */
  max-width: 600px;
  /* Maximum width for the text */
  padding-bottom: 10px;
  /* You can add margin-top with a large value to push it down from the top if needed */
}

h1,
p {
  margin: 0;
  /* Remove default margin */
}

h1 {
  font-size: 5.5rem;
}

p {
  padding-top: 2%;
  font-size: 1.2rem;
  color: #555;
}

.name-highlight {
  color: #00a6ff;
  /* Or any color you prefer */
}

.button-container {
  display: flex;
  flex-direction: row;
  /* Stack buttons vertically */
  align-items: left;
  /* Align buttons left */
  gap: 30px;
  /* Add space between buttons */
  margin-top: 5%;
  /* Add space between text and buttons */
}

.home-button {
  background-color: #00a6ff;
  /* Button background color */
  color: #ffffff;
  /* Button text color */
  text-align: center;
  /* Allign text to center */
  text-decoration: none;
  /* Remove underline from links */
  font-weight: bold;
  /* Make the text bold */
  padding: 15px 30px;
  /* Button padding */
  border: none;
  /* Remove border */
  border-radius: 10px;
  /* Rounded corners for buttons */
  cursor: pointer;
  /* Pointer cursor on hover */
  transition: background-color 0.5s;
  /* Smooth transition for hover effect */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Alignments for icon */
}

.home-button i,
.home-button svg {
  margin-left: 8px;
  /* Add space between icon and text */
}

.home-button:hover {
  color: #ffffff;
  background-color: #003064;
  /* Darker shade on hover for visual feedback */
}

/* About.css */
.about-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 50px;
  background-color: #f0f0f0;
  /* Adjust the background color as needed */
}

.about-content {
  display: flex;
  align-items: center;
  max-width: 1200px;
  /* Or any max-width that suits your design */
}

.about-profile-photo {
  width: 40%;
  /* Adjust size as needed */
  max-width: 500px;
  /* Adjust max-width as needed */
  height: auto;
  border-radius: 10px;
  /* Adjust for rounded corners */
  margin-right: 50px;
  /* Space between the image and the text */
}

.about-text {
  text-align: left;
  width: 60%;
  /* Adjust width as needed */
}

.about-text h1 {
  font-size: 2rem;
  /* Large font size for your name */
  margin-bottom: 0.5em;
}

.about-text p {
  font-size: 1rem;
  color: #666;
  /* Subtle text color for the paragraph */
  line-height: 1.6;
  /* Adjust line height for readability */
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-profile-photo {
    width: 70%;
    /* Larger size for smaller screens */
    max-width: none;
    /* Override max-width for smaller screens */
    margin-right: 0;
    /* Reset margin-right for smaller screens */
    margin-bottom: 20px;
    /* Add space between image and text on smaller screens */
  }

  .about-text {
    width: 100%;
    /* Full width on smaller screens */
  }
}


/* Additional Responsive design for smaller screens */
@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
    /* Stack image and text vertically */
    align-items: center;
    /* Center align items */
  }

  .text-container {
    align-items: center;
  }

  .image-container {
    flex: none;
    /* Do not stretch */
    width: 100%;
    /* Full width */
    padding: 0;
    /* Remove padding */
  }

  .profile-photo {
    height: 100vh;
    /* Take up full viewport height */
  }

  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Add more styles as needed */